<section class="mt-32">

    <table id="myDataTable" class="display">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <!-- Add more table headers as needed -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>John Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>John Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>John Doe</td>
            <td>john@example.com</td>
          </tr>
          <tr>
            <td>John Doe</td>
            <td>john@example.com</td>
          </tr>
          
    
    
    
          <!-- Add more table rows as needed -->
        </tbody>
      </table>
      

</section>