/* .header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 9%;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: bolder;
    cursor: pointer;

}

.header .logo span{
    color: var(--yellow);
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);

}

.header .navbar a:hover{
    color: var(--yellow);
    cursor: pointer;
}


.btn{

    display: inline-block;
    margin: 1rem;
    border-radius: .5rem;
   background:var(--light-yellow);
   color:var(--black) ;
   font-weight: 500;
   font-size: 1.7rem;
   cursor: pointer;
   padding: .8rem 3rem;
   border: none;
   margin-top: 0;
}
#menu-btn{
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;

}


.header .login-btn i{
    font-size: 2.5rem;
    color: var(--light-color);
    cursor: pointer;
    display: none;
}

.btn:hover{
    background: var(--yellow);
} */



/* media queries */

/* @media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem 0;
    }
}

@media(max-width:768px){
    .header .login-btn .btn{
        display: none;
    }
    .header .login-btn i{
        display: block;
    }
    .header .navbar a{
        display: block;
        margin: 2rem;
    }

    .header .navbar{
        position: absolute;
        top:99%;
        left: 0;
        right: 0;
        background: #fff;
        border-top:var(--border);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);


    }
    .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 0,0 0);

    }
    #menu-btn{
        display: block;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }


}

@media(max-width:450px){
    .header{
        padding: 2rem 0;
    }
} */