<!-- 
<h2 mat-dialog-title>edit brand</h2>

<form [formGroup]="editBrandForm">

    <mat-dialog-content> 
        <mat-form-field appearance="fill">
          <mat-label>Brand Name</mat-label>
          <input matInput formControlName="brandName" placeholder="brand name">
        </mat-form-field>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" (click)="onSubmit()">edit Model</button>
      </mat-dialog-actions>
    
</form>
 -->
