<!-- <div class="flex h-auto bg-gray-100 mt-20">
  <div class="w-1/3 border-r border-gray-300 p-4 overflow-y-auto">
    <h2 class="text-lg font-semibold mb-4">Chat Threads</h2>
    <ul *ngFor="let chat of chats">
      <li *ngFor = "let singleChat of chat.chats ">
        <a [routerLink]="['/chat-list/chat', chat._id.senderId, chat._id.productId]"
           class="flex items-center py-2 px-2 hover:bg-gray-200 cursor-pointer">
          <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=40&h=40&q=80"
               alt="Profile Picture" class="w-10 h-10 rounded-full mr-2">
          <div>
            <div class="text-blue-600 font-semibold">{{ singleChat.sender.username }}</div> -->
            <!-- <div class="text-gray-500 text-sm">Latest message content 1</div> -->
          <!-- </div>
          <div class="ml-auto"> -->
            <!-- <div class="text-sm font-semibold">3</div> -->
          <!-- </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="w-2/3 p-4">
    <router-outlet></router-outlet>
  </div>
</div> -->

<!-- chat-list.component.html -->
<div class="w-1/3 border-r border-gray-300 p-4 max-h-[75vh] overflow-y-auto">
  <h2 class="text-lg font-semibold mb-4">Chat Threads</h2>
  <ul *ngFor="let chat of chats">
    <li *ngFor="let singleChat of chat.chats">
      <a [routerLink]="['/chat-list/chat', chat._id.senderId, chat._id.productId]"
         class="flex items-center py-2 px-2 hover:bg-gray-200 cursor-pointer">
        <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=40&h=40&q=80" alt="Profile Picture" class="w-10 h-10 rounded-full mr-2">
        <div>
          <div class="text-blue-600 font-semibold">{{ singleChat.sender.username }}</div>
        </div>
        <div class="ml-auto">
          <!-- You can add message count or other indicators here -->
        </div>
      </a>
    </li>
  </ul>
</div>


