
   <div class="container mx-auto mt-4">
    <!-- Step Indicator -->
    <ol class="flex items-center w-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base">
      <li class="flex md:w-full items-center" [ngClass]="{ 'text-blue-600 dark:text-blue-500': step === 1 }">
        <span class="flex items-center">
          <ng-container *ngIf="formStep1.valid">
            <svg class="w-3.5 h-3.5 sm:w-4 sm:h-4 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
            </svg>
          </ng-container>
          select <span class="hidden sm:inline-flex sm:ml-2">car</span>
        </span>
      </li>
      <li class="flex md:w-full items-center" [ngClass]="{ 'text-blue-600 dark:text-blue-500': step === 2 }">
        <span class="flex items-center">
          <ng-container *ngIf="formStep2.valid">
            <svg class="w-3.5 h-3.5 sm:w-4 sm:h-4 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
            </svg>
          </ng-container>
          basic <span class="hidden sm:inline-flex sm:ml-2">details</span>
        </span>
      </li>
      <li class="flex md:w-full items-center" [ngClass]="{ 'text-blue-600 dark:text-blue-500': step === 3 }">
        <span class="flex items-center">
          <ng-container *ngIf="formStep3.valid">
            <svg class="w-3.5 h-3.5 sm:w-4 sm:h-4 mr-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
            </svg>
          </ng-container>
          additional <span class="hidden sm:inline-flex sm:ml-2">Info</span>
        </span>
      </li>
    </ol>
  
    <!-- Form Content -->
    <div class="bg-white p-4 rounded-lg shadow-lg">
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
        <div class="col-span-3">
          <!-- Step 1 Content -->
          <form [formGroup]="formStep1" *ngIf="step === 1">
            <!-- Your form fields for step 1 here -->
            <div class="mb-4">
              <label for="brand" class="block text-gray-600">Brand:</label>
              <select id="brand" formControlName="brand" class="form-input w-full mt-2" (change)="onBrandChange()">
                <option value="">Select a brand</option>
                <option *ngFor="let brand of brands" [value]="brand._id">{{ brand.name }}</option>
              </select>
            </div>
            <div class="mb-4">
              <label for="model" class="block text-gray-600">Model:</label>
              <select id="model" formControlName="model" class="form-input w-full mt-2" (change)="onModelChange()">
                <option value="">Select a model</option>
                <option *ngFor="let model of selectedBrand?.models" [value]="model._id">{{ model.name }}</option>
              </select >
            </div>
            <div class="mb-4">
              <label for="option" class="block text-gray-600">Option:</label>
              <select id="option" formControlName="option" class="form-input w-full mt-2">
                <option value="">Select an option</option>
                <option *ngFor="let option of selectedModel?.options" [value]="option._id">{{ option.name }}</option>
              </select>
            </div>
            <div class="mb-4">
              <label for="year" class="block text-gray-600">Year:</label>
              <input type="number" id="year" name="year" formControlName="year" class="form-input w-full mt-2">
            </div>
          
          </form>
  
          <!-- Step 2 Content -->
          <form [formGroup]="formStep2" *ngIf="step === 2">
            <!-- Your form fields for step 2 here -->
            <div class="mb-4">
              <label for="fuel" class="block text-gray-600">fuel:</label>
              <select id="fuel" formControlName="fuel" class="form-input w-full mt-2">
                <option value="">Select a fuel</option>
                <option value="petrole">petrole</option>
                <option value="deisel">deisel</option>
                <option value="cng">cng</option>
                <option value="electric">electric</option>
              </select>
            </div>
            <div class="mb-4">
              <label for="price" class="block text-gray-600">price</label>
              <input type="number" id="price" formControlName="price" class="form-input w-full">
            </div>
            <div class="mb-4">
              <label for="kmDriven" class="block text-gray-600">Km-Driven</label>
              <input type="number" id="kmDriven" formControlName="kmDriven" class="form-input w-full">
            </div>


          </form>
  
          <!-- Step 3 Content -->
          <form [formGroup]="formStep3" *ngIf="step === 3" enctype="multipart/form-data">
            <!-- Your form fields for step 3 here -->
            <div class="mb-4">
              <label for="location" class="block text-gray-600">Location:</label><br>
              <input type="text" id="location" formControlName="location" class="form-control w-full" /><br>
            </div>
          
            <div class="mb-4">
              <label for="no_of_owners" class="block text-gray-600">Number of Owners:</label><br>
              <input type="number" id="no_of_owners" formControlName="no_of_owners" class="form-control w-full" /><br>
            </div>
          
            <div class="mb-4">
              <label for="images" class="block text-gray-600">Images:</label><br>
              <input type="file" id="images" formControlName="images" accept="image/*" multiple  class="form-control w-full" (change)="onFilesSelected($event)" /><br>
            </div>


          </form>
        </div>
  
        <!-- Previous button -->
        <button class="bg-blue-500 text-white px-4 py-2 rounded cursor-pointer" (click)="prevStep()" *ngIf="step > 1">Previous</button>
  
        <!-- Next button with [disabled] attribute -->
        <button class="bg-blue-500 text-white px-4 py-2 rounded cursor-pointer           disabled:bg-gray-300 disabled:text-gray-500 " (click)="nextStep(step + 1)" *ngIf="step < 3" [disabled]="!isCurrentFormValid()">Next</button>
  
        <!-- Submit button with [disabled] attribute -->
        <button class="bg-blue-500 text-white px-4 py-2 rounded cursor-pointer            disabled:bg-gray-300 disabled:text-gray-500" (click)="submitForm()" *ngIf="step === 3" [disabled]="!isCurrentFormValid()">Submit</button>
      </div>
    </div>
  </div>
  