<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="max-w-md bg-white w-full p-8 shadow-lg rounded-lg">
        <h2 class="text-2xl mb-4">change password</h2>
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
            <div class="mb-4">
                <label for="password" class="block text-gray-600">Password</label>
                <input type="password" id="password" formControlName="password" class="form-input w-full mt-2" placeholder="Enter your new password">
                <div class="text-red-500" *ngIf="password?.invalid && password?.touched">
                  <div *ngIf="password?.errors?.['invalidPassword']">Password must contain an upper case, lower case, number, and special character.</div>
                </div>
              </div>
        
              <div class="mb-4">
                <label for="confpassword" class="block text-gray-600">Confirm Password</label>
                <input type="password" id="confpassword" formControlName="confpassword" class="form-input w-full mt-2" placeholder="Enter your password again">
                <div class="text-red-500" *ngIf="confpassword?.invalid && confpassword?.touched">
                  <div *ngIf="confpassword?.errors?.['required']">Confirm password is required.</div>
                  <div *ngIf="confpassword?.errors?.['passwordMismatch']">Passwords do not match.</div>
                </div>
              </div>

              <button type="submit" [disabled]="changePasswordForm.invalid"
              class="bg-blue-500  cursor-pointer text-white cu hover:bg-blue-600 px-4 py-2 rounded-full w-full  disabled:bg-gray-300 disabled:text-gray-500 ">
              submit
          </button>

        
        </form>
    </div>
</div>
        
      
